<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibcorp.helpmeapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_help_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_help_icon_removebg"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FragmentReplacementActivity"
            android:exported="true"/>
        <activity android:name=".ui.MainActivity"
            android:exported="true"/>
        <activity android:name=".ui.LoginActivity"
            android:exported="true"/>
        <activity android:name=".ui.home.AdminActivity"
            android:exported="true"
            android:theme="@style/Theme.HelpMeApp.NoActionBar"/>
        <activity android:name=".DetailActivity"/>
        <activity android:name=".WelcomeActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DashboardMainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:clearTaskOnLaunch="true"
            android:theme="@style/Theme.HelpMeApp.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ad_mob_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <service android:name=".HelloService"
            android:enabled="true"/>
        <!--<receiver
            android:name=".RestartService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="RestartService" />
            </intent-filter>
        </receiver>-->
    </application>

</manifest>